@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: "Pretendard Variable", Pretendard, sans-serif;
}
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
button{border: none; background: none; cursor: pointer;}

.header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #808080;
    /* background: pink; */
}
.inner{
    width: 1200px;
    height: 80px;
    margin: auto;
    /* background: skyblue; */
}

.header .inner h1{
   /* padding-top: 21px; */
    float: left;
    margin: 20px 115px 0 0;
}

.header .inner .gnb{
    float: left;
    
}
.header .inner .gnb li{
    float: left;
   margin-right: 40px;
}

/* .header .inner .gnb .last{
    margin-right: 0;
} */
.header .inner .gnb li:not(:nth-child(6)){
    margin-right: 40px;
}


.header .inner .gnb a{
    font-size: 17px;
    font-weight: 500;
    color: #222;
    /* 마우스 선택영역 넓히기 */
    height: 80px; 
    /* a태그는 인라인태그로 옆으로 정렬이기 때문에 block처리로 위아래 범위잡기 */
    display: block;
    line-height: 80px;
}

.header .inner .gnb li:hover a{
    color: #0357a0;
    border-bottom: 3px solid #0357a0;
}

.header .inner .gnbwrap li{
    float: right;
}

.header .inner .btnwrap li{
    float: left;
    height: 80px;
    line-height: 80px;
}
.header .inner .btnwrap li:first-child button{
    width: 126px;
    height: 40px;
    background: #0357a0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 999px;
}
.header .inner .btnwrap li:last-child button{
    width: 40px;
    height: 40px;
    background: #0357a0;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    /* 원형도형은 무조건 100% 크기설정 */
    border-radius: 100%;
}
.header .inner .btnwrap li:last-child{
    margin-left: 10px;
}