@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{
      font-family: "Noto Sans KR", sans-serif;
}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
button{border: none;background: none;cursor: pointer;}
img{border: none;display: block;}

section{
    width: 100%;
    margin-top: 175px;
}
section .inner{
    width: 1520px;
    /* background: pink; */
    margin: auto;
    position: relative;
}
section .inner .heading{
    margin-left: 225px;
}
section .inner .heading h2{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 24px;
}
section .inner .heading p{
    font-size: 18px;
    font-weight: 500;
}
section .inner .heading .btn_plus{
    width: 146px;
    height: 50px;
    border: 1px solid #1d1d1d;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    /* background: url(../images/mainicon.png) no-repeat left 12px center; */
    /* background-size: 16px 16px */
    left: 1149px;
    top: 60px;
}
section .inner .card{
    width: 100%;
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
section .inner .card li{
    width: 272px;
    height: 390px;
}
section .inner .card li a{
    display: block;
    width: 100%;
    position: relative;
}
section .inner .card li a img{
   width: 272px;
   height: 100%;
}
section .inner .card li a .txt{
    width: 272px;
    height: 110px;
    color: #fff;
    text-align: left;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
}
section .inner .card li a .txt h3{
    font-size: 16px;
    font-weight: 700;
}
section .inner .card li a .txt h4{
    font-size: 16px;
    font-weight: 500;
}
section .inner .card li a .txt h3 span{
    color: #ff5451;
}
