/* 헤더 */
header{
    width: 100%;
    height: 70px;
}
header .inner{
    width: 950px;
    height: 100%;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; */
    position: relative;
}

/* 모바일메뉴 숨김 */
.m_btn{
    display: none;
}

header .inner ul.gnb{
    display: flex;
    gap: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 10px;
}
header .inner ul.gnb>li{
    position: relative;
    height: 70px;
    line-height: 70px;
}
header .inner ul.gnb>li>a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: #777;
    font-weight: bold;
}
header .inner ul.gnb>li:hover a{
    color: #F57421;
    font-weight: 700;
}
header .inner h1 a{
    display: block;
    width: 116px;
    height: 22px;
    text-indent: -99999px;
    background: url(../images/logo.png) no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

header .inner a.cart{
    display: block;
    width: 76px;
    height: 22px;
    text-indent: -99999px;
    background: url(../images/btn_lf_ot.png) no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* 2단메뉴 */
header .inner ul.gnb>li>ul.depth2{
    position: absolute; 
    left: 50%;  
    transform: translateX(-50%);
    top: 70px;
    width: 200px;
    background: #F57421 url(../images/sub_cur.png) no-repeat center top;
    padding: 28px 0;
    box-sizing: border-box;
    z-index: 999;
    /* 2단메뉴 숨김 */
    display: none;
}
header .inner ul.gnb>li>ul.depth2>li{
    text-align: center;
    line-height: 24px;
}
header .inner ul.gnb>li>ul.depth2>li a{
    color: #fff;
    font-size: 13px;
}
header .inner ul.gnb>li>ul.depth2>li a:hover{
    text-decoration: underline;
}

/* 메인 비주얼이미지 */
main{
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}
/* main .visual img{
    width: 100%; */
    /* height: 915px; */
    /* background: url(../images/visual_b.jpg) no-repeat; */
    /* background-size: cover; */
/* } */

/* 메인 비주얼 swiper슬라이드 */

/* 슬라이드의 좌우버튼 */
main .swiper .swiper-button-prev{
    width: 50px;
    height: 50px;
    background: url(../images/btn_left.png) no-repeat;
    text-indent: -99999px;
    left: 30px;
}
main .swiper .swiper-button-next{
    width: 50px;
    height: 50px;
    background: url(../images/btn_right.png) no-repeat;
    text-indent: -99999px;
    right: 30px;
}

/* 슬라이드 페이지 버튼 */
main .swiper .swiper-pagination{
    /* border: 5px solid red; */
}
main .swiper .swiper-wrapper{
    padding-bottom: 50px;
}
main .swiper .swiper-pagination-bullet{
    width: 60px;
    height: 5px;
    background: #000;
    border-radius: 0;
    opacity: 1;
}
main .swiper .swiper-pagination-bullet-active{
    background: #F57421;
}
/* 메인 텍스트 */
main .txt{
    width: 100%;
    height: 190px;
    background: #fff;
    text-align: center;
    padding: 45px 0;
}
main .txt h2{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 20px;
}
main .txt p{
    font-size: 16px;
    line-height: 26px;
    color: #666;
}
main .txt p span{
    font-weight: 700;
}
main p .show{
    display: none;
}
main p em{
    font-style: normal;
}
