/* 전체영역 영역*/
#fullpage {
  width: 100%;
  height: 100vh;
}

/* intro 영역 */
#fullpage #section1 {
  width: 100%;
  height: 100vh;
  position: relative;
}
/* intro 제목 */
#fullpage #section1 .inner .title h2,
#fullpage #section1 .inner .title h1 {
  color: #fff;
  font-size: 128px;
  font-weight: bold;
  line-height: 115.2px;
  text-align: left;
  position: absolute;
  left: 60px;
  top: 400px;
  z-index: 100;
}
#fullpage #section1 .inner .title h1 {
  top: 140px;
}
/* 제목 그라디언트 스타일 */
#fullpage #section1 .inner .title h1 span.deco {
  background-image: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 37%,
    #2575fc 65%,
    #0f172a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
}
#fullpage #section1 .inner .title h2 span {
  background-image: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 37%,
    #2575fc 65%,
    #0f172a 100%
  );
  -webkit-background-clip: text;
  /* 텍스트 내부를 투명하게 만들어 배경이 보이도록 함 */
  -webkit-text-fill-color: transparent;
}
/* intro 이미지 */
#fullpage #section1 .inner .imgbox {
  width: 100%;
  height: 655px;
  position: absolute;
  left: 0;
  bottom: 0;
}
#fullpage #section1 .imgbox img {
  width: 100%;
  height: 100%;
}

/* About 영역 */
#fullpage #section2 {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 100px;
}
/* About 제목 */
#fullpage #section2 .inner h1.deco {
    background-image: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 37%,
    #2575fc 65%,
    #0f172a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
}
/* About 프로필 전체 컨텐츠 */
#fullpage #section2 .inner .aboutme{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
/* 세로 경계선 삽입 */
#fullpage #section2 .inner .aboutme::after{
    content: "";
    width: 1px;
    height: 700px;
    background: #fff;
    position: absolute;
    left: 18%;
    top: -7%;
}
/* About 프로필이미지 */
#fullpage #section2 .inner .imgbox{
    width: 230px;
    height: 300px;
}
#fullpage #section2 .inner .imgbox img{
    width: 100%;
    height: 100%;   
}
/* About 프로필 아래정보 */
#fullpage #section2 .inner ul.profile{
    width: 230px;
    height: 300px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 72.5%;
    transform: translateY(-50%);

}
#fullpage #section2 .inner ul.profile li{
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
#fullpage #section2 .inner ul.profile li:first-child{
    font-family: "Playfair Display", serif;
    font-size: 24px;
}
/* About 프로필 가운데정보 */
#fullpage #section2 .inner ul.info{
    width: 600px;
    height: 600px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}
#fullpage #section2 .inner ul.info li{
    margin-bottom: 58px;
}
#fullpage #section2 .inner ul.info li h3.deco,
#fullpage #section2 .inner ul.license li h3.deco{
    color: #2575fc;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
}
#fullpage #section2 .inner ul.info li div.row,
#fullpage #section2 .inner ul.license li div.row{
    display: flex;
    gap: 20px;
}
#fullpage #section2 .inner ul.info div.row span.deco,
#fullpage #section2 .inner ul.license li span.deco{
    color: #fff;
}
#fullpage #section2 .inner ul.info li p,
#fullpage #section2 .inner ul.license li p{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}
/* About 프로필 오른쪽정보 + 공통부분은 가운데정보와 함께*/
#fullpage #section2 .inner ul.license{
    width: 600px;
    height: 600px;
    position: relative;
}
/* 세로 경계선 삽입 */
#fullpage #section2 .inner ul.license::after{
    content: "";
    width: 1px;
    height: 700px;
    background: #fff;
    position: absolute;
    left: -25%;
    top: 51.5%;
    transform: translate(-50%,-50%);
}

/* Skill 영역 */
#fullpage #section3 {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}
#fullpage #section3 .inner h1.deco {
    background-image: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 37%,
    #2575fc 65%,
    #0f172a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
}
#fullpage #section3 .inner ul.skilllist{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 40px;
}
#fullpage #section3 .inner ul.skilllist .skillwrap{
    flex-direction: column;
}
#fullpage #section3 .inner ul.skilllist .circle{
    width: 160px;
    height: 160px;
}
#fullpage #section3 .inner ul.skilllist .circle svg{
    width: 100%;
    height: 100%;
}
#fullpage #section3 .inner ul.skilllist p{
    color: #fff;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
#fullpage #section3 .inner .txtbox{
    width: 100%;
    margin-top: 150px;
}
#fullpage #section3 .inner .txtbox h3.slogan{
    font-size: 32px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-style: italic;
}
#fullpage #section3 .inner .txtbox h3.slogan span{
    color: #2575fc;
}

/* 디자인 work 영역 */
#fullpage #section4 {
  width: 100%;
  height: 100vh;
  padding-top: 90px;
}
#fullpage #section4 .inner h1.deco {
    background-image: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 37%,
    #2575fc 65%,
    #0f172a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
}
#fullpage #section4 .inner ul.projectlist{
    width: 100%;
    height: 330px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
#fullpage #section4 .inner ul.projectlist li{
    width: 490px;
    height: 100%;
    background: #000;
}
#fullpage #section4 .inner ul.projectlist li.on a{
    background: rgba(0, 0, 0, 0.8);
}
#fullpage #section4 .inner ul.projectlist li a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
#fullpage #section4 .inner ul.projectlist li a img{
    width: 100%;
    height: 100%;
}
/* 작품 제목 */
#fullpage #section4 .inner ul.projectlist li a p{
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/* 갤러리 높낮이 다르게 설정 */
#fullpage #section4 .inner ul.projectlist li:nth-child(1),
#fullpage #section4 .inner ul.projectlist li:nth-child(3),
#fullpage #section4 .inner ul.projectlist li:nth-child(4),
#fullpage #section4 .inner ul.projectlist li:nth-child(6){
    margin-top: 25px;
}

/* 코딩 work 영역 */
#fullpage #section4 {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}
#fullpage #section5 .inner h1.deco {
    background-image: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 37%,
    #2575fc 65%,
    #0f172a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
}

/* Contact 영역 */
#fullpage #section4 {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}
#fullpage #section5 .inner h1.deco {
    background-image: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 37%,
    #2575fc 65%,
    #0f172a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
}