@charset "utf-8";
body{

}
*{margin: 0; padding: 0;}

.section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.section .inner{
    width: 500px;
    height: 300px;
    border: 2px solid #000;
    margin: auto;
    margin-top: 150px;
    position: relative;
    overflow: hidden;
}

/* 총 소요시간 4초 실행
타이틀 먼저 > 2초 지연시간 후 스티브잡스 사진 */

.section .inner .txt{
    position: absolute;
    left: 55px;
    top: 155px;
    animation: txt_ani 2s ease-in-out forwards;
}

@keyframes txt_ani {
    0%{left: 55px; top: 0;}
    100%{left: 55px; top: 155px;}
}

.section .inner .photo{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    animation: photo_ani 2s ease-in-out 2s forwards;
    
    
}

@keyframes photo_ani {
    0%{right: 0; bottom: -300px; opacity: 0;}
    100%{right: 0px; bottom: -5px;opacity: 2;}
}