@charset "utf-8";

body {
    font-family: "맑은 고딕", "malgun gothic", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.section {
    width: 100%;
}

.section .inner {
    width: 1000px;
    height: 1003px;
    /* background: gold; */
    margin: auto;
    position: relative;
}

.section .inner .left {
    position: absolute;
    left: 50%;
    margin-left: -73px;
    top: 50%;
    margin-top: -501.5px;
    animation: left_ani 2s ease-in-out forwards;
}

@keyframes left_ani {
    0% {
        left: 50%
    }

    100% {
        left: 30%;
    }
}

.section .inner .right {
    position: absolute;
    left: 50%;
    margin-right: -73px;
    top: 50%;
    margin-top: -501.5px;
    animation: right_ani 2s ease-in-out forwards;

}

@keyframes right_ani {
    0% {
        left: 50%
    }

    100% {
        left: 70%;
    }
}

.section .inner .tit {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.section .inner .tit h2 {
    font-size: 32px;
    font-weight: 900;
    color: #333;
    line-height: 46px;
    opacity: 0;
    animation: h2_ani 1s ease-in-out forwards 2s;
}

@keyframes h2_ani {
    0% {
       opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.section .inner .tit p {
    font-size: 16px;
    color: #999;
    line-height: 24px;
    margin-top: 24px;
    opacity: 0;
    animation: p_ani 1s ease-in-out forwards 2.5s;
}

@keyframes p_ani {
    0% {
       opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.section .inner .tit button {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 24px;
    opacity: 0;
    animation: btn_ani 1s ease-in-out forwards 3s;
}

@keyframes btn_ani {
    0% {
       opacity: 0;
    }

    100% {
        opacity: 1;
    }
}