@charset "utf-8";
body {
    font-family: "맑은 고딕", "malgun gothic", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* 변수를 선언하는 방법 */
/* 변수명 = 값 */
/* --변수명:값 */
/* 전역변수 -> html문서 어디서나 사용하는 변수 */
/* 전역변수로 선언과 등록 */
:root {
    --blue: #008000;
    --white: #ffffff;
    --bg: #EDEDED;
    /* 숫자변수 */
    --padd:20px;
    --fsize:16px
}

/* 지역변수 -> 해당요소안에서만 사용되는 변수 */
 
/* 변수로 적용하는 방법 */
/* var(적용할변수명) */


section {
    width: 100%;
    padding: 35px 0;
    /* 배경색을 변수로 적용 */
    background: var(--bg);
    text-align: center;
    /* 지역변수 선언 */
    --tfs:100px
}

section h2 {
    text-align: center;
    color: var(--blue);
    --tfs:24px;
}

section ul {
    width: 780px;
    margin: 35px auto;
    display: flex;
    gap: 15px;
}

section ul li {
    width: 144px;
    background: var(--white);
    border: 1px solid var(--blue);
    text-align: center;
}

section ul li a {
    display: block;
    width: 100%;
    padding: var(--padd) 0;
    color: var(--blue);
    font-size: var(--fsize);
}

section button {
    width: 105px;
    height: 35px;
    text-align: center;
    background: var(--blue);
    color: var(--white);
    border-radius: 999px;
}

.section h2{
    color: var(--blue);
    text-align: center;
    
}