@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Noto Sans", sans-serif;
}
*{margin: 0;padding: 0;}
li{list-style: none;}
button{cursor: pointer;background: none;border: none;}
a{text-decoration: none;}
/* 이미지 초기화 */
img{border: none; display: block;}



/* header 코딩 */
.header{
    width: 100%;
    height: 60px;
    color: #fff;
    /* 그림자 효과 -> x축, y축 크기, 블러, 색상 */
    box-shadow: 2px 2px 2px #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    box-sizing: border-box;
}
.header h1 a{
    /* 이미지의 사이즈가 바뀌면 배경 사이즈도 같이 바뀜 */  
    /* a는 인라인요소기 때문에 */ 
    display: block;
    width: 147px;
    height: 41.5px;  
    background: url(../images/logo.png) no-repeat;
    background-size: 147px 41.5px;
   
  
    text-indent: -99999px;
  
}
.header .menu{
    /* 버튼은 block요소 */
    width: 24px;
    height: 22px;
     background: url(../images/btn_allMenu.png) no-repeat;
    background-size: 24px 22px;
    text-indent: -99999px;
   
}
.header .search{
    width: 24px;
    height: 24px; 
    background: url(../images/btn_search.png) no-repeat;
    background-size: 24px 24px;
    text-indent: -99999px;
}


/* 메인이미지 삽입 */
.main{
    width: 100%;
}
.main .visual{
    width: 100%;
}
.main .visual img{
    width: 100%;
}


/* section1 코딩 */
.section1{
    width: 100%;
    padding: 47px 0;
    background: #ecebe9;
}
.section1 h2{
    text-align: center;
    font-size: 26px;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}
.section1 h2 span{
    color: #e9521d;
}
.main .section1 ul{
    width: 380px;
    margin: auto;
    display: flex;
}
.main .section1 ul li{
    width: 50%;
    height: 135px;
    text-align: center;
    position: relative;
}
/* 구분선 */
.main .section1 ul li::after{
    /* 글자가 아님을 알림 */
    content: "";
    width: 1px;
    height: 73px;
    background-color: #e0dfdd;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -36.5px;
}
.main .section1 ul li:last-child::after{
    display: none;
}
.main .section1 ul li a{
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 80px;
    box-sizing: border-box;
}
.main .section1 ul li:first-child a{
    background: url(../images/btn_free01.png) no-repeat center 0;
    background-size: 77px;
}
.main .section1 ul li:last-child a{
    background: url(../images/btn_free02.png) no-repeat center 0;
    background-size: 77px;
}
.main .section1 ul li a h4{
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.main .section1 ul li a p{
    font-size: 14px;
    font-weight: 400;
    color:  #5d5e60;
}
.main .section1 ul li a h4 em{
    color: #5d5e60;
}

/* section2 코딩 */
.main .section2{
    padding: 52px 0;
    background: #fff;
}
.main .section2 ul.tit{
    width: 379px;
    /* background: gold; */
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.main .section2 ul.tit li{
    width: 109px;
    height: 37px;
}
.main .section2 ul.tit li a{
    display: block;
    width: 100%;
    height: 100%;
    background: #e0e0e0;
    font-size: 14px;
    font-weight: 700;
    color: #515558;
    text-align: center;
    line-height: 37px;
    border-radius: 12px;
}
.main .section2 ul.grade{
    width: 379px;
    margin: 35px auto 0;
    /* background: gold; */
    display: flex;
   gap: 15px;
   justify-content: center;
   flex-wrap: wrap;
}
.main .section2 ul.grade li{
    width: 98px;
    height: 48px;
    border: 1px solid #d9d9d9;
    background: #fff;
}
.main .section2 ul.grade li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #666;
    font-weight: 600;
    text-align: center;
    line-height: 48px;
}

/* footer 코딩 */
.footer{
    width: 100%;
}
.footer .family{
    width: 100%;
    height: 50px;
    background: #999;
    display: flex;
    justify-content: center;
}
.footer .family button{
    width: 120px;
    color: #fff;

    line-height: 48px;
    font-size: 14px;
    font-weight: 700;
    background: url(../images/btn_plus_white.png) no-repeat 100% center;
background-size: 10px;
}
.footer ul{
    width: 100%;
    height: 48px;
    background: #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.footer ul li a{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}
.footer ul li{
    position: relative;
}
.footer ul li::after {
content: "";
width: 1px;
height: 10px;
background: #fff;
position: absolute;
right: -9px;
top: 50%;
margin-top: -3px;
}
/* 밑에 있는 구분선을 없앨때 */
.footer ul li:last-child::after{
    display: none;
}

.footer .copy{
    width: 100%;
    padding: 30px 0;
    background: #ccc;
    text-align: center;
}
.footer .copy h3{
    font-size: 14px;
    color: #747474;
    margin-bottom: 10px;
}
.footer .copy address{
    font-size: 12px;
    color: #848484;
    font-style: normal;
    margin-bottom: 10px;
}
.footer .copy p{
    font-size: 12px;
    color: #848484;
    letter-spacing: -1px;
}