@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body{
    font-family: "Nanum Gothic", sans-serif;
}
*{margin: 0; padding: 0;}
a{text-decoration: none;}
button{background: none; border: none; cursor: pointer;}

.header{
    width: 100%;
    height: 51px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.header h1 {
    width: 451px;
    height: 51px;
    display: block;
    width: 145px;
    height: 45px;
    background: url(../images/logo_mo.jpg) no-repeat center;
    background-size: 145px 45px;
    text-indent: -99999px; 
   
}

.header .m_menu{
    width: 44px;
    height: 48.5px;
    text-indent: -99999px;
    background: url(../images/btn_memu.jpg) no-repeat;
    background-size: 44px 48.5px;
}

.header .m_search{
    width: 44px;
    height: 48.5px;
    text-indent: -99999px;
    background: url(../images/icon_search_mo.jpg) no-repeat;
    background-size: 44px 48.5px;
}

/* .main .visual{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.main .visual img{
    width: 100%;
} */
/* 슬라이드 이미지 */
.main{
    width: 100%;
}
.main .swiper{
    width: 100%;
    margin: 15px;
    box-sizing: border-box;
}
.main .swiper .swiper-slide img{
    width: 100%;
}
/* 슬라이드 페이지 */
.main .swiper .swiper-pagination{
    /* border: 1px solid red; */
    width: 48px;
    height: 22px;
    position: absolute;
    left: unset;
    right: 30px;
    top: 15px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 22px;
    border-radius: 999px;
    background: rgba(0, 0, 0, 0.3);
}
.main .swiper .swiper-pagination-total{
    color: rgba(255, 255, 255, 0.3);
}