/* 모바일 메뉴 사이드 */
.m_side_wrap {
  width: calc(100% - 30px);
  height: 100%;
  background: #f6f6f6;
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 100;
  overflow-y: auto;
}
.m_side_wrap .m_login {
  width: 100%;
  height: 340px;
  background: #009223;
  padding: 20px 30px;
  box-sizing: border-box;
}
.m_side_wrap .m_login .m_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.m_side_wrap .m_login .m_header h1 a {
  display: block;
  width: 88px;
  height: 18px;
  background: url(../images/logo_sidemenu.png) no-repeat;
  text-indent: -99999px;
  background-size: 88px;
}
.m_side_wrap .m_login .m_header ul {
  display: flex;
  align-items: center;
}
.m_side_wrap .m_login .m_header ul li:first-child a {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../images/icon_setting.png) no-repeat;
  background-size: 40px;
  text-indent: -99999px;
}
.m_side_wrap .m_login .m_header ul li:last-child a {
  display: block;
  width: 27px;
  height: 27px;
  background: url(../images/icon_sidemenu_close_02.png) no-repeat;
  background-size: 27px;
  text-indent: -99999px;
}
.m_side_wrap .m_login p {
  color: #fff;
  font-size: 19px;
  margin-top: 24px;
  line-height: 26px;
  margin-bottom: 25px;
}
/* 로그인 버튼 */
.m_side_wrap .m_login ul.loginbtn {
  display: flex;
  gap: 2%;
}
.m_side_wrap .m_login ul.loginbtn li {
  width: 48%;
}
.m_side_wrap .m_login ul.loginbtn li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  background: #ffc300;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.m_side_wrap .m_login ul.loginbtn li:last-child a {
  background: #fff;
  color: #333;
}
.m_side_wrap .m_login .nomember {
  width: 100%;
  border-radius: 999px;
  padding: 10px 0;
  box-sizing: border-box;
  background: #62ce07;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}
/* quick 메뉴 */
.quick_menu {
  width: 100%;
  position: relative;
}
.quick_menu ul {
  width: 90%;
  background: #fff;
  border-radius: 25px 0;
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -45px;
}
.quick_menu ul li {
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quick_menu ul li:first-child,
.quick_menu ul li:nth-child(2),
.quick_menu ul li:nth-child(3) {
  margin-bottom: 40px;
}
.quick_menu ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.quick_menu ul li a img {
  width: 50px;
}
.quick_menu ul li a h4 {
  font-size: 12px;
  color: #292929;
  font-weight: 500;
  margin-top: 4px;
}
/* 모바일 메뉴 gnb */
.m_gnb {
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.m_gnb > ul {
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 160px;
  border-radius: 25px 0;
  overflow: hidden;
}
.m_gnb > ul > li {
  width: 100%;
  margin-bottom: 2px;
  background: #fff;
}
.m_gnb > ul > li > a {
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  position: relative;
}
.m_gnb > ul > li > a > img {
  width: 26px;
}
.m_gnb > ul > li > a h3 {
  font-size: 16px;
  color: #292929;
  font-weight: 500;
}
.m_gnb > ul > li > a::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #bbb;
  border-top: none;
  border-left: none;
  position: absolute;
  right: 65px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.5s ease-in-out;
  z-index: 500;
}
/* 모바일 메뉴 m_gnb li a를 클릭하면 화살표 방향과 색상 변경 */
.m_gnb > ul > li > a.on::after {
  content: "";
  border: 2px solid #009223;
  border-top: none;
  border-left: none;
  transform: rotate(225deg);
}
/* 모바일 메뉴 2단 메뉴 */
.m_gnb > ul > li > .depth2 {
  width: 100%;
  background: #fcfcfc;
  padding: 40px 0;
  display: none;
}
.m_gnb > ul > li > .depth2 li {
  text-indent: 70px;
}
.m_gnb > ul > li > .depth2 li a {
  color: #292929;
  font-size: 14px;
  line-height: 40px;
}

/* header */
.header {
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #f7f7f7;
  position: relative;
}
.header h1 {
  position: absolute;
  left: 50%;
  margin-left: -60px;
  top: 50%;
  margin-top: -12px;
}
.header h1 a {
  display: block;
  width: 120px;
  height: 24px;
  background: url("../images/logo_app.png") no-repeat;
  /*배경이미지사이즈 크기 조절 */
  background-size: 120px 24px;
  text-indent: -99999px;
}
/* 옆으로 튀어나오는 메뉴바 */
.header .m_btn {
  width: 22px;
  height: 22px;
  background: url(../images/ico_mTopetc04.png) no-repeat;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  text-indent: -99999px;
  background-size: 25px;
  border: none;
}
.header .cart {
  width: 25px;
  height: 25px;
  background: url("../images/icon_cart.png") no-repeat;
  background-size: 25px;
  text-indent: -99999px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -12.5px;
  border: none;
}

/* tabbar */
.tabbar {
  width: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
}
.tabbar .tabnav {
  width: 100%;
  height: 65px;
  background: url(../images/navi_bg.png) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}
.tabbar .tabnav ul.left_icon,
.tabbar .tabnav ul.right_icon {
  /* width: 50%; */
  display: flex;
  justify-content: center;
}
.tabbar .tabnav ul.left_icon li,
.tabbar .tabnav ul.right_icon li {
  width: 18vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabbar .tabnav ul.left_icon li a,
.tabbar .tabnav ul.right_icon li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabbar .tabnav ul.left_icon li a span,
.tabbar .tabnav ul.right_icon li a span {
  font-size: 12px;
  color: #d3d3d3;
}
.tabbar .tabnav ul.left_icon li.on a svg,
.tabbar .tabnav ul.right_icon li.on a svg {
  stroke: #009223;
  fill: #009223;
}
.tabbar .tabnav ul.left_icon li.on a span,
.tabbar .tabnav ul.right_icon li.on a span {
  color: #009223;
  font-weight: bold;
}
.tabbar .tabnav .right_icon li.on a svg path,
.tabbar .tabnav .left_icon li.on a svg path {
  fill: #009223;
  stroke: #009223;
}

.tabbar .tabnav .right_icon {
  display: flex;
  align-items: center;
}
.tabbar .btn_order {
  width: 80px;
  height: 80px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #000;
}
.tabbar .btn_order img {
  width: 28px;
}
